<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Reservation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Add Reservation</h1>
  <form th:action="@{/reservation/add}" th:object="${reservation}" method="post">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="nom">Name</label>
        <input type="text" id="nom" th:field="*{user.nom}" class="form-control"/>
      </div>
      <div class="col-md-6 form-group">
        <label for="tel">Phone</label>
        <input type="text" id="tel" th:field="*{user.numTel}" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{user.email}" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="dateDebut">Date Debut</label>
        <input type="date" id="dateDebut" th:field="*{dateDebut}" class="form-control"/>
      </div>
      <div class="col-md-6 form-group">
        <label for="dateFin">Date Fin</label>
        <input type="date" id="dateFin" th:field="*{dateFin}" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="num_adultes">Nombre d'adultes</label>
        <input type="number" id="num_adultes" th:field="*{num_adultes}" class="form-control"/>
      </div>
      <div class="col-md-6 form-group">
        <label for="num_enfants">Nombre d'enfants</label>
        <input type="number" id="num_enfants" th:field="*{num_enfants}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</body>
</html>
